* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(100, 200, 150);
    color: rgb(10, 20, 75);
    padding: 30px;
    display: flexbox;
    line-height: 30pt;

    border-radius: 10pt;
    border-style: solid;
    border-width: 3px;
}

.containerIntro h1,
.containerIntro p {
    display: inline;
    vertical-align: top;
    line-height: 28px;
    margin-bottom: auto;
}

.containerIntro p {
    font-size: 18pt;
    font-weight: bold;
    float: right;
    margin-top: -1px;
    margin-right: 50px;
}

.startQuiz h2 {
    text-align: center;
    width: auto;
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;

    font-style: italic;
    height: 200px;
    display: block;
    justify-content: center;
    align-items: center;
}

.startQuiz button {
    display: block;
    margin: auto;
    background-color: rgb(180, 210, 220);
    padding: 5px;

    color: black;
    font-size: 20pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    border-radius: 10px;
    border-width: 3px;
}

#card1,
#card2,
#card3,
#card4,
#card5 {
    border-style: solid;
    border-color: rgb(10, 20, 75);
    border-radius: 10pt;
    color: black;
    padding-bottom: 10pt;
    
    display: block;
    margin: 300px;
    text-align: center;
    width: 25%;
}

.allCards button {
    display: block;
    margin: auto;
    margin-top: 20px; 
    background-color: rgb(180, 210, 220);

    color: black;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 10px;
}

h3 {
    font-size: 20pt;
    font-weight: bolder;
}